{% extends 'layouts/base.twig' %}

{% block body %}
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </nav>
    <h1>About As</h1>
        <p>{{ content }}</p>
    </div>
{% endblock %}